
<app-title [title]="title"></app-title>
<nav class="justify-content-center "> 
  <div class="input-group mb-3 col-md-6">
    <input type="text" class="form-control" [(ngModel)]="mesBusca" placeholder="Buscar cronograma por mês" aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="buscarMes()" >Buscar</button>
        <button class="btn btn-outline-secondary" type="button" (click)="carregaCronogramas()" >Exibir Todos</button>
        <button class="btn btn-outline-primary" type="button"  routerLinkActive='active' routerLink='/cronograma-criar' >Novo Cronograma</button>         
      </div>  
  </div>    
    <div class="conteudo-cronograma align-items-center">      
      <div class="table-cronograma">      
        <table class="table table-bordered">        
          <thead class="text-center ">
            <tr>
              <!-- <th>Cronograma ID</th> -->
              <th>Mês</th>
              <th>Ano</th>
              <th>Status</th>
              <th>Data Conclusão</th>              
              <th>Supervisor</th>
              <th>ANF Supervisor</th>
              <th>Ações</th>
            </tr>
          </thead>
            <tbody class="text-center">      
                    <tr *ngFor="let cronograma of cronogramas">
                    <!-- <th scope="row">{{ cronograma.idCronograma }}</th> -->
                    <td>{{ cronograma.mes | meses: cronograma.mes}}</td>
                    <td>{{ cronograma.ano }}</td> 
                    <td>{{ cronograma.concluido == true ? 'Concluído' : 'Não concluído'}}</td> 
                    <td>{{ cronograma.dataConclusao | date:"dd/MM/yyyy"}}</td>
                    <td>{{ cronograma.primeiroNome}}</td>
                    <td>{{ cronograma.anf | anfMg: cronograma.anf }}</td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button (click)="alvos(cronograma.idCronograma)" [ngValue]="cronograma.idCronograma" type="button" class="btn btn-outline-secondary">Alvos</button>
                        <button (click)="editar(cronograma.idCronograma)" type="button" class="btn btn-outline-secondary">Editar</button>
                        <button (click)="apagarCronograma(cronograma.idCronograma)" type="button" class="btn btn-outline-danger">Excluir</button>
                      </div>
                    </td>
                </tr>
                </tbody>
        </table>
      </div>
    </div>
  </nav>
