<app-nav-crono></app-nav-crono>
  <nav class="justify-content-center ">
      <div class="table-cronograma">
        <table class="table table-bordered">
          <thead class="text-center">
            <tr>
              <th>Endereço ID</th>
              <th>Site GSM</th>
              <th>Site 3G</th>
              <th>Atividade</th>
              <th>Data Programação</th>
              <th>Data Conclusão</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody class="text-center">      
            <tr *ngFor="let detalhe of cronogramaDetalhado">
              <th>{{ detalhe.endId }}</th>
              <td>{{ detalhe.siteGsm }}</td>
              <td>{{ detalhe.site3g }}</td>
              <td>{{ detalhe.tipoAtividade }}</td>
              <td>{{ detalhe.dataProgramacao | date:"dd/MM/yyyy"  }}</td> 
              <td>{{ detalhe.dataConclusao | date:"dd/MM/yyyy"  }}</td>
              <th>{{ detalhe.concluido }}</th>
              <!-- <td>
                <div class="btn-group">
                  <button (click)="ativarDesativar(usuario.usuarioId)" type="button" class="btn btn-outline-secondary btn-sm">{{usuario.ativo == true ? 'Desativar' : 'Ativar'}}</button>             
                </div>
              </td>
              <td>
                <div class="btn-group">
                  <button (click)="editar(usuario.usuarioId)" type="button" class="btn btn-outline-info btn-sm">Editar</button>             
                </div>
              </td>     -->
           </tr>
          </tbody>
        </table>
      </div>
  </nav>
