<app-nav-crono></app-nav-crono>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Endereço Id</th>
        <th scope="col">Site GSM</th>
        <th scope="col">Aterramento</th>
        <th scope="col">Bateria</th>
        <th scope="col">Infraestrutura</th>
        <th scope="col">Acesso</th>
        <th scope="col">MW</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>      
      <!-- <tr *ngFor="let usuario of usuarios">
        <th scope="row">{{ usuario.usuarioId }}</th>
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.dataNascimento | date:"dd/MM/yyyy" }}</td>
        <td>{{ usuario.email }}</td> 
        <td>{{ usuario.sexoId == 1 ? 'Masculino' : 'Feminino' }}</td>
        <td>
          <div class="btn-group">
            <button (click)="ativarDesativar(usuario.usuarioId)" type="button" class="btn btn-outline-secondary btn-sm">{{usuario.ativo == true ? 'Desativar' : 'Ativar'}}</button>             
          </div>
        </td>
        <td>
          <div class="btn-group">
            <button (click)="editar(usuario.usuarioId)" type="button" class="btn btn-outline-info btn-sm">Editar</button>             
          </div>
        </td>    
      </tr> -->
    </tbody>
  </table>
