<app-nav-crono></app-nav-crono>
  <nav class="justify-content-center ">
    <div class="conteudo-cronograma align-items-center">
      <div class="table-cronograma">
        <table class="table table-bordered">
          <thead class="text-center ">
            <tr>
              <th>Endereço ID</th>
              <th>Site GSM</th>
              <th>Atividade</th>
              <th>Data Programação</th>
              <th>Data Conclusão</th>
              <th>Status</th>
            </tr>
          </thead>
      <!--<tbody>      
            <tr *ngFor="let usuario of usuarios">
              <th scope="row">{{ usuario.usuarioId }}</th>
              <td>{{ usuario.nome }}</td>
              <td>{{ usuario.dataNascimento | date:"dd/MM/yyyy" }}</td>
              <td>{{ usuario.email }}</td> 
              <td>{{ usuario.sexoId == 1 ? 'Masculino' : 'Feminino' }}</td>
              <td>
                <div class="btn-group">
                  <button (click)="ativarDesativar(usuario.usuarioId)" type="button" class="btn btn-outline-secondary btn-sm">{{usuario.ativo == true ? 'Desativar' : 'Ativar'}}</button>             
                </div>
              </td>
              <td>
                <div class="btn-group">
                  <button (click)="editar(usuario.usuarioId)" type="button" class="btn btn-outline-info btn-sm">Editar</button>             
                </div>
              </td>    
           </tr>
          </tbody>-->
        </table>
      </div>
    </div>
  </nav>
