<app-title [title]="title"></app-title>
<nav class="justify-content-center ">
    <div class="input-group mb-3 col-md-6">
      <input type="text" class="form-control" [(ngModel)]="nomeBusca" placeholder="Buscar nome usuário" aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="buscarNome()" >Buscar</button>
        <button class="btn btn-outline-secondary" type="button" (click)="carregaUsuarios()" >Exibir Todos</button>
        <button class="btn btn-outline-primary" type="button"  routerLinkActive='active' routerLink='/usuario-criar' >Novo Usuário</button>          
      </div>  
    </div>
    <div class="conteudo-cronograma align-items-center">        
      <div class="table-cronograma">
        <table class="table table-bordered">
          <thead class="text-center ">
            <tr>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>CPF</th>
              <th>Email</th>
              <th>Regional ANF</th>
              <th>Atuação</th>
              <th>Permissão</th>
              <th>Ações</th>
            </tr>
          </thead>
                <tbody class="text-center">       
                    <tr *ngFor="let usuario of usuarios">
                    <th>{{ usuario.primeiroNome }}</th>
                    <td>{{ usuario.ultimoNome }}</td>
                    <td>{{ usuario.cpf }}</td>
                    <td>{{ usuario.email }}</td> 
                    <td>{{ usuario.anf | anfMg: usuario.anf}}</td> 
                    <td>{{ usuario.area | areaTecnico: usuario.area}}</td>
                    <td>{{ usuario.permissao | permissao: usuario.permissao}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">                        
                        <button (click)="editarUsuario(usuario.idUsuario)" type="button" class="btn btn-outline-secondary">Editar</button>
                        <button (click)="apagarUsuario(usuario.idUsuario)" type="button" class="btn btn-outline-danger">Excluir</button>
                      </div>
                    </td>
                </tr>
                </tbody>
        </table>
      </div>
    </div>
    
  </nav>