<nav class="justify-content-center ">
    <div class="conteudo-cronograma align-items-center">
      <div class="table-cronograma">
        <table class="table table-bordered">
          <thead class="text-center ">
            <tr>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>CPF</th>
              <th>Email</th>
              <th>Regional ANF</th>
              <th>Atuação</th>
              <th>Permissão</th>
            </tr>
          </thead>
            <tbody>      
                    <tr *ngFor="let usuario of usuarios">
                    <th>{{ usuario.primeiroNome }}</th>
                    <td>{{ usuario.ultimoNome }}</td>
                    <td>{{ usuario.cpf }}</td>
                    <td>{{ usuario.email }}</td> 
                    <td>{{ usuario.anf }}</td> 
                    <td>{{ usuario.area }}</td>
                    <td>{{ usuario.permissao }}</td>
                    <!-- <td>
                        <div class="btn-group">
                        <button (click)="ativarDesativar(usuario.usuarioId)" type="button" class="btn btn-outline-secondary btn-sm">{{usuario.ativo == true ? 'Desativar' : 'Ativar'}}</button>             
                        </div>
                    </td>
                    <td>
                        <div class="btn-group">
                        <button (click)="editar(usuario.usuarioId)" type="button" class="btn btn-outline-info btn-sm">Editar</button>             
                        </div>
                    </td> -->
                </tr>
                </tbody>
        </table>
      </div>
    </div>
  </nav>