<nav class="navbar navbar-expand-lg navbar-light bg-light">    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link">Cronograma Maio 2020</a>
        </li>  
        <li class="nav-item">
            <a class="nav-link">Escolher Cronograma</a>
        </li>
        <li class="nav-item">
            <a class="nav-link">Programado</a>  
        </li> 
        <li class="nav-item">
            <a class="nav-link">Concluído</a> 
        </li>    
      </ul>
    </div>
  </nav>