
<nav class="justify-content-center ">
  <div class="nav-topo d-flex justify-content-between">
    <div class="text"><li>Cronograma Maio de 2020</li></div>
    <div class="btn-group" role="group">
      <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class = "zmdi zmdi-calendar"></i>Cronograma<span class="caret"></span>
        </button>
    </div>
    <div class="status d-flex align-items-center justify-content-end">
        <div class="titulo-cor1">
          <i class="zmdi zmdi-circle"></i>
          <li>Programado</li>
        </div>
        <div class="titulo-cor2">
          <i class="zmdi zmdi-circle"></i>
          <li>Concluido</li>
        </div>
    </div>
  </div>
</nav>